<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882572463657-qg83mrel3i7t5k7jblhas5slnaah42b2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882572463657-qg83mrel3i7t5k7jblhas5slnaah42b2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>882572463657-04j14ge9ndq0me26u5b0svj97qlccdu0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5GnwtQT9ri_l05WKYWDaQRU8buTMj1To</string>
	<key>GCM_SENDER_ID</key>
	<string>882572463657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mekadevelopments.lt</string>
	<key>PROJECT_ID</key>
	<string>meka-app</string>
	<key>STORAGE_BUCKET</key>
	<string>meka-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882572463657:ios:0685b9d894718402e69638</string>
</dict>
</plist>